/* TAG SELECTORS */


h1 {
  font-family: 'Kalam', cursive;
  color: gold;
  opacity: 0.5;
  padding: 0 0 20px;
}

h2 {
  font-family: 'Merriweather', serif;
  padding: 20px;
}

H3 {
  font-family: 'Merriweather', serif;
  text-align: center;
  padding: 40px 40px;
}

h5 {
  color: black;
}

hr {
  width: 80%;
  border: 0.5px solid;
}

/* CLASS SELECTORS */

.about-row {
  background-color: white;
  text-align: center;
  margin-right: 0;
  margin-left: 0;
}

.about-dotun {
  margin: auto;
  border-radius: 20px;
  margin-bottom: 20px;
}

.about-text {
  font-family: 'PT Serif', serif;
  padding: 5px;
  font-size: 20px;
  line-height: 2;
}

.card-img {
  margin: 20px auto;
  width: 150px;
  height: 150px;
}

.card-content {
  text-align: center;
}

.card-row {
  padding-bottom: 50px;
  margin: auto;
}

.card-grid {
  margin: 30px auto;
}

.courses {
  background-color: white;
  text-align: center;
}

.carousel-item {
  padding: 7% 15%;
}

.cousel-content {
  color: black;
}

.carousel-caption {
  padding: 10px;
}

.carousel-control-next-icon {
  background-color: black;
}

.carousel-control-prev-icon {
  background-color: black;
}

.card-deck {
  margin: 0;
}

.copyright {
  margin-top: 8px;
}

.footer-link {
  color: black;
  margin: 10px 30px 0 30px;
  padding: 3px;
}

.durt-logo {
  width: 40px;
  height: 40px;
}

.dotun-img {
  border-radius: 100%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer {
  background-color: darkgrey;
  text-align: center;
  height: 80px;
  width: 100%;
  margin-bottom: 0;
}

.logo {
  color: black;
  margin-top: 60px;
  width: 15rem;
  height: 15rem;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 9999;
}

.span {
  color: gold;
}
.sponsors {
  text-align: center;
}

.sponsor-logo {
  margin: 0 1rem;
  width: 5%;
  height: 2%;
}

.top-container {
  width: 100%;
  height: 500px;
  background-image: url('https://github.com/Mosesfamot/durtproduction/blob/master/images/background.jpg?raw=true');
  margin-bottom: 50px;
}

/* ID SELECTORS */

#top-section {
  text-align: center;
  padding-top: 60px;
}

#expression {
  background-color: white;
}

#card-section {
  width: 100%;
}
