/* TAG SELECTORS */


h1 {
  font-family: 'Kalam', cursive;
  color: gold;
  opacity: 0.5;
  padding: 0 0 20px;
}

h2 {
  font-family: 'Merriweather', serif;
  padding: 20px;
}

H3 {
  font-family: 'Merriweather', serif;
  text-align: center;
  padding: 40px 40px;
}

h5 {
  color: black;
}

/* CLASS SELECTORS */

.about-row {
  background-color: #dbdbdb;
  text-align: center;
  margin: 50px 0;
}

.about-dotun {
  box-shadow: -1em 0 .4em black;
  margin: auto;
  border-radius: 20px;
  margin-bottom: 20px;
}

.about-text {
  font-family: 'PT Serif', serif;
  padding: 5px;
  font-weight: bold;
  font-size: 20px;
  line-height: 2;
}

.card-img {
  margin: 20px auto;
  width: 150px;
  height: 150px;
}

.card-content {
  text-align: center;
}

.card-row {
  padding-bottom: 50px;
  margin: auto;
}

.card-grid {
  margin: 30px auto;
}

.courses {
  background-color: white;
  text-align: center;
}

.carousel-item {
  padding: 7% 15%;
}

.cousel-content {
  color: black;
}

.carousel-caption {
  padding: 10px;
}

.card-deck {
  margin: 0;
}

.copyright {
  margin-top: 8px;
}

.footer-link {
  color: black;
  margin: 10px 30px 0 30px;
  padding: 3px;
}

.durt-logo {
  width: 40px;
  height: 40px;
}

.dotun-img {
  border-radius: 100%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer {
  background-color: darkgrey;
  text-align: center;
  height: 80px;
  width: 100%;
  margin-bottom: 0;
}

.logo {
  color: black;
  margin: 20px;
  width: 15rem;
  height: 15rem;
}

.span {
  color: white;
  font-weight: bold;
}
.sponsors {
  text-align: center;
}

.sponsor-logo {
  margin: 0 1rem;
  width: 5%;
  height: 2%;
}

/* ID SELECTORS */

#top-section {
  background-image: url ('images/background.jpg');
  text-align: center;
}

#expression {
  background-color: #dbdbdb;
}

#card-section {
  width: 100%;
}
